
$color-white: #FFFFFF;
$color-black: #000000;
$color-main: #453122;
$color-second: #2F2417;
$color-card-line: #665e58;

$height-header: 67px;
$font-size-header: 1.5rem;

$card-width: 110px;
$card-height: 145px;
